.app {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.lawsuits {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: span 2;
  max-width: 100%;
}