.app {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.exampleFileLink {
  display: block;
  font-size: 14px;
  margin-top: 20px;
}

.lawsuits {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: span 2;
  max-width: 100%;
}